body h3{

}
body span{
	font-size: 16px;
}
nav{
	width: 100%;
	height: 50px;
	background: #344051;
}
.logo{
	color: #fff;
	font-style: 20px;
	line-height: 50px;
	padding-left: 138px;
	float: left;
}
.menu{
	float: left;
	padding-left: 182px;
}
.menu li{
	color: #fff;
	font-style: 16px;
	line-height: 50px;
	padding-left: 8px;
	float: left;
	text-transform: uppercase;
}
.main{
	width: 100%;
	height: calc(100% - 50px);
	background: url(../img/boy.png) 95% 100%/auto 85% no-repeat, url(../img/bgMain.jpg) no-repeat;
}
.titleWithLine img{
	display: inline-block;
}
.titleWithLine h3{
	font-size: 30px;
	text-align: center;
	margin-top: 110px;
}
.titleWithLine p{
	margin: 30px 0px;
}
.title_contaner{
	float: left;
	margin: 300px 0px 0px 400px;
	color: #2c384a;
	text-align: center;
}
.title_contaner h1{
	font-size: 50px;
	font-weight: bold;
}
.title_contaner h4{
	margin-top: 25px;
	font-size: 20px;
	color: #79818d;
}
.title_contaner input{
	font-size: 16px;
	height: 40px;
	text-align: center;
	color: #79818d;
	border: 2px solid #79818d;
	margin: 7px;
	padding: 7px 10px 10px 7px;
	background: #fff;
}
/* aboutMe */
.aboutMe{
	width: 100%;
	height: 723px;
	text-align: center;
}
.aboutMeContainer{
	width: 740px;
	margin-left: 350px;
}
.aboutMe p{
	display: inline-block;
	margin: 30px 0px;
	width: 720px;
	text-align: center;
}
.button{
	display: inline-block;
	text-align: center;
	width: 155px;
	height: 35px;
	border: 3px solid #6f707e;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}
.button input{
	background-color: Transparent;
}
/* iCan*/
.iCan{
	display: inline-block;
	width: 100%;
	height: 525px;
	text-align: center;
	background: url(../img/bgICan.jpg) no-repeat;
	padding: 0px 260px;
}
.containerGroup{
	display: inline-block;
	width: 220px;
}
.containerGroup p{
	display: inline-block;
	width: 220px;
	margin: 10px 0px;
}
.containerGroup h6{
	font-size: 20px;
	text-align: center;
	color: #cf7600;
	padding: 10px;
}
.containerGroup h3{
	display: inline-block;
	margin-top: 110px;
}
.containerGroup img{
	margin-top: 100px;
}
/* cases */
.cases{
	width: 100%;
	height: 1060px;
	text-align: center;
}
.cases h5{
	padding: 40px 0px;
}
.contanerCases1{
	display: inline-block;
	width: 205px;
	height: 175px;
	text-align: left;
	margin-left: 135px;
	margin-right: 40px;
	float: left;
}
.contanerCases1 a{

}
.contanerCases1 h6{
	padding: 0px;
	color: #384354;
	font-size: 20px;
	line-height: 28px;
}
.contanerCases2{
	display: inline-block;
	width: 755px;
	margin-right: 135px;
	float: right;
}
.contanerCases2 h6{
	padding: 0px;
	color: #384354;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
}
.buttonVISIT input{
	background: #63b5ae;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
}
/* calculation */
.calculation{
	width: 900px;
	height: 625px;
	text-align: left;
	margin: 90px 0px 0px 230px;
}
.calculation h3{
	font-size: 30px;
	text-align: center;

}
.calculation h5{
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	font-weight: 500;
	margin: 20px 0px;
}
select{
	width: 100%;
	height: 55px;
	border: 1px solid #eeeeee;
	background: #eeeeee;
	padding: 10px;
}
.total{
	border-top: 2px solid #d1d1d1;
	margin-top: 20px;

}
.total span{
	display: inline-block;
	font-size: 20px;
	padding: 20px 0px 0px 0px;
	width: 900px;
}
.total output{
	float: right;
}
/* statistics */
.statistics{
	display: inline-block;
	width: 100%;
	height: 500px;
	background: url(../img/bgsSatistics.jpg) no-repeat;
	text-align: center;
	padding: 0px 200px;
}
.number{
	font-size: 37px;
	font-weight: 600px;
	font-family: "Impact";
	margin: 15px 0px;
}
.text{
	display: inline-block;
	text-transform: uppercase;
	font-family: "Impact";
	margin: 15px 0px;
}
/* reviews */
.reviews{
	display: inline-block;
	widows: 100%;
	height: 560px;
	text-align: center;
}
.reviews span{
	display: inline-block;
	text-align: center;
	width: 690px;
	margin: 30px;
	color: #000;
}
.reviews img{
	display: inline-block;
}
.points{
	width: 690px;
	display: inline-block;
	padding-left: 300px;
}
.circle {
	background: #cfd2d7;
	clip-path: circle(50%);
	height: 10px;
	width: 10px;
	margin: 0px 10px 40px 10px;
	float: left;
}
.circleColor{
	background: #c96500;
	clip-path: circle(50%);
	height: 10px;
	width: 10px;
	margin: 0px 10px 40px 10px;  
	float: left;
}
.contacts{
	display: inline-block;
	width: 100%;
	height: 805px;
	text-align: center;
	background: url(../img/bgContacts.jpg) center no-repeat;
}
.containerContacts{
	display: inline-block;
	width: 700px;
	height: 740px;
}
.contacts h3{
	display: inline-block;
	color: #fff;
}
.contacts span{
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.containerContacts input{
	width: 335px;
	height: 40px;
	margin: 15px 3px;
	padding: 3px;
	/*border: 3px solid #6f85a6;*/
}
.containerContacts h4{
	display: inline-block;
	font-size: 20px;
	color: #fff;
	margin: 30px 0px;
	text-transform: uppercase;
}
.containerContacts textarea{
	width: 686px;
	height: 95px;
}
.containerContact{
	display: inline-block;
	width: calc(700px/3);
	float: left;
	margin: 30px 0px;
}
.containerContact img{
	margin-bottom: 10px;
}
.buttonContacts input{
	width: 120px;
	height: 40px;
	border: 3px solid #f9faff;
	border-radius: 5px;
	text-align: center;
	background-color: Transparent;
	color:  #f9faff;
}
.rightInput{
	border: 3px solid #f9faff;
	display: inline-block;
	float: right;
}
.location{
	width: 100%;
	height: 350px;
	background: url(../img/bglocation.jpg) center no-repeat;
	text-align: center;
}
.location h3{
	display: inline-block;
	text-transform: uppercase;
	font-family: "Arial";
	font-size: 30px;
	margin: 15px 0px;
	color: #000;
	background: #fff;
	padding: 10px 20px;
	margin-top: 140px;
}
.Copyright{
	width: 100%;
	height: 95px;
	background: #354051;
	text-align: center;
	color: #fff;
}
.Copyright{
	padding-top: 40px;
}